header.article-header {
	
	.top {
		background-color: $brand-green;
		color: $white;
		min-height: 235px;
	    width: 100%;
	    display: flex;
	    align-items: center;
	    
	    @include breakpoint(medium) {
			padding-bottom: 0;
	    }
	    
	    >.grid-container {
		    width: 100%;
		
			h1 {
				color: $white;
			}
			
		}
		
	}
	
	
&.style-image-overlap {
	
	@include breakpoint(medium) {
		margin-bottom: 5.2em;
	}
	
	.top {
		padding-bottom: 100px;
	}
	
	
	.bottom {
		padding-top: 0;
		padding-bottom: 2em;
		
		@include breakpoint(medium) {
			padding-top: 5.55em;
			padding-bottom: 0;
		}
		
		.inner {
			flex-direction: column-reverse;
			
			@include breakpoint(medium) {
				flex-direction: row;
			}
		
			.right {
				
				.inner {
					padding-top: 1.625em;
					padding-right: 1.625em;
					text-align: right;
					position: relative;
					margin-top: -69px;
					margin-bottom: 5em;
					
					@include breakpoint(medium) {
						margin-top: -232px;
						margin-bottom: 0;
					}
					
					.banner-img-wrap {
						position: relative;
				
						img.banner-emb-img {
							position: absolute;
							top: -1.625em;
							right: -1.625em;
						}
						
						.logo-wrap {
							background-color: $white;
							width: 150px;
							height: 150px;
							position: absolute;
							bottom: -54px;
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 1em;
							
							@include breakpoint(tablet) {
								width: 212px;
								height: 212px;	
								padding: 1.75em;									}
							
						}
											
						img.banner-img {
							
							@include breakpoint(xlarge) {
								max-width: 483px;
							}
						}
					
					}
										
				}
				
			}
		
		}
		
	}
	
}
	
&.style-home-page {
	overflow: hidden;
	padding-top: 2.15em;
	padding-bottom: 4.1em;
	
	.left {
		margin-bottom: 3em;
		
		@include breakpoint(medium) {
			margin-bottom: 0;
		}
		
	}
	
	.right {
		.inner {
			text-align: right;
			position: relative;
			padding-right: 1.625em;
			padding-bottom: 1.625em;
					
			.bannner-img-wrap {
				display: inline-block;
				position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 23px;
				left: 27px;
				width: 123%;
				height: 100vh;
				background-color: $brand-green;
			}
								
				img.banner-img {
					position: relative;

					@include breakpoint(xlarge) {
						max-width: 483px;
					}
					
				}
			
			}
			
			img.banner-emb-img {
				position: absolute;
				right: 0;
				bottom: 0;
			}
			
		}
	}
	
}
	
}