footer.footer {
	padding-top: 5.9em;
	
	.logo-wrap {
		padding-bottom: 2.95em;
	}
	
	.left {
		margin-bottom: 3em;
	
		.contact-wrap {
			font-size: rem-calc(15);
			line-height: 1.8666;
			
			>.cell {
				margin-bottom: 1em;
		
				.contact-label {
					font-size: rem-calc(20);
					font-weight: bold;
					line-height: 1.85;
				}
				
				a {
					transition: color .2s ease;
				
				&:hover {
					color: $brand-lime-green;	
				}
				
				}
			
			}
		
		}
		
	}
	
	.right {
		
		.footer-pipe {
			margin-top: 2.6em;
			width: 100%;
			height: 1px;
			background-color: $white;
		}
		
		nav {
			padding-top: 2em;
			margin-left: -1.3rem;
			margin-right: -1.3rem;
			
			ul.menu {
				flex-direction: column;	
				
				@include breakpoint(medium) {
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
				}
			
				li {
					margin: .4em 1.1em;
					
					@include breakpoint(medium) {
						margin: 1.1em;
					}
					
					a {
						font-size: rem-calc(15);
						font-weight: 500;
						
						&:hover {
							color: $brand-lime-green;
						}
						
					}
					
				&:last-child {
					margin-right: auto;
				}
					
				}
			
			}
			
		}
		
	}
	
	.bottom {
		padding-top: 3.9em;
		padding-bottom: 5.56em;
		font-size: rem-calc(12);
		font-weight: 500;
		line-height: 1.5;
		color: $brand-lime-green;
		
		a {
			color: $brand-lime-green;
		}
		
		.left {
			margin-bottom: 2em;
			
			.inner {
				display: flex;
				
				a {
					width: 32px;
					height: 32px;
					border-radius: 100%;
					background-color: $brand-lime-green;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 10px;
					transition: background-color .2s ease;
					
					&:hover {
						background-color: $white;
					}
					
				}
			
			}
						
		}
		
		.right {
			margin-bottom: 2em;
			
			a:hover {
				color: $white;
			}
			
			.source-org {
				padding-top: 1em;
				@include breakpoint(medium) {
					padding-top: 0;
					text-align: right;
				}
			}
			
		}
		
	}
	
}