header.header {
	position: relative;
	z-index: 55555;
	padding-top: .75em;
	padding-bottom: .7em;
	background-color: $brand-green;
	transition: transform .5s ease;
	
	.top-bar {
		flex: 0 0 auto;
		
		.top-bar-left {
			max-width: calc(100% - 40px);
			padding-right: 1em;
			
			@include breakpoint(large) {
				max-width: 100%;
				padding-right: 0;
			}
			
		}
		
		.menu-toggle-wrap {
			max-width: 40px;
			
			a {
				position: relative;
				padding: 0;
				width: 40px;
				height: 26px;			

				span {
					position: absolute;
					display: inline-block;
					width: 100%;
					height: 4px;
					background-color: $brand-dark-green;
					top: 0;
					
				&:nth-child(2) {
					top: 11px;
				}
				
				&:nth-child(3) {
					top: auto;
					bottom: 0;
				}
					
				}
			
			}
			
		}
		
	}
	
	@include breakpoint(large) {
		padding-top: 2.85em;
		padding-bottom: 1.55em;		
	}

	.dropdown.menu.medium-horizontal {
		align-items: center;
		justify-content: flex-end;
		
		> li.outlined {
			border: 2px solid $white;
			background-color: transparent;
			transition: all.2s ease;
			
		&:hover {
			border: 2px solid $white;
			background-color: $white;
			
			a {
				text-decoration: none;
				color: $brand-green;
			}
			
		}
			
			a {
				padding: 0.625em 1.5em;
				
				@include breakpoint(xlarge) {
					padding: 0.625em 2.208em;
				}
				
			}
			
		}
		
		li {
			text-align: center;

			a {
				color: $white;
				font-weight: 600;
				line-height: 1.25;
				transition: color .2s ease;
				
			&:hover {
				color: $brand-lime-green;
			}
				
			}
			
		&.is-dropdown-submenu-parent>a:after {
			border: 0;
			width: 11px;
			height: 9px;
			margin-top: -10px;
			content: url('../images/nav-down-white.svg');
		}
		
		&:not(:last-child) {
			margin-right: 1.25em;
			
			@include breakpoint(xlarge) {
				margin-right: 1.92em;
			}
			
		}
		
			ul.submenu {
				padding: 0.9em 0;
				box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.16);
				
			&:after {
				content: '';
				position: absolute;
				left: -1px;
				right: -1px;
				bottom: -2px;
				border-bottom: 2px solid $white;				
			}
			
				li {
					text-align: left;
					a {
						padding: .3em 1.5em;
						color: $brand-dark-green;
						
					&:hover {
						color: $brand-dark-green;
					}
						
					}
					
				&.active,
				&:hover {
					a {
						background-color: #E0FFE4;
					}
				}
					
				}								
				
			}
			
		}
		
	}
	
&.banner-style-home-page {
	background-color: $white;
	
	.dropdown.menu.medium-horizontal {
		
		> li.outlined {
			border: 2px solid $brand-dark-green;
			
			&:hover {
				background-color: $brand-dark-green;
				border: 2px solid $brand-dark-green;
				
				a {
					text-decoration: none;
					color: $white;
				}
				
			}
			
		}
		
		li {
			a {
				color: $brand-dark-green;
				
			&:hover {
				color: $brand-green;
			}
				
			}
			
		&.is-dropdown-submenu-parent>a:after {
			content: url('../images/nav-down-green.svg');
		}
		
			ul.submenu {
				
			&:after {
				border-bottom: 2px solid $brand-dark-green;				
			}
											
			}
			
		}
		
	}
	
}
	
}

ul#offcanvas-nav {
	li {
		a {
			padding: 1em;
			color: $brand-dark-green;
			font-weight: 600;
			line-height: 1.25;
		}
		
		&.is-accordion-submenu-parent:not(.has-submenu-toggle)>a:after {
			border: 0;
			width: 11px;
			height: 9px;
			margin-top: -10px;
			content: url('../images/nav-down-green.svg');
		}
		
		ul.submenu {
			li a {
				padding-left: 2em;
			}
		}
		
	}
}

.accordion-menu .is-accordion-submenu-parent>a:after {
	transition: .4s ease;
}

.accordion-menu .is-accordion-submenu-parent[aria-expanded=true]>a:after {
    transform: rotateX(180deg);
    transform-origin: 50% 100%;
}


