.quote.module {
	
	.grid-x {
		padding-top: 2em;
		
		@include breakpoint(medium) {
			padding-top: 0;	
		}
		
	}
	
	.mark-wrap {
		position: relative;
	
		.mark {
			font-size: rem-calc(200);
			display: inline-block;
			position: absolute;
			top: -88px;
			left: .8rem;
						
			@include breakpoint(medium) {
				font-size: rem-calc(338);
				top: -37px;
				left: 50%;
				transform: translateX(-50%);				
			}
			
		}
	
	}
	
	.right {

		.author-wrap {
			font-weight: 600;
			padding-top: 1.7em;
		}
	
	}
	
}