.recent-press {
	padding-top: 5.8em;
	
	.emb-wrap {
		padding-right: .25rem;
		margin-top: -9px;
	}
	
	.press-wrap {
		min-width: 100%;
		padding-top: 2em;
		padding-bottom: 2.25em;
		
		.press_post {
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			
			@include breakpoint(medium) {
				padding-top: 2.75em;
				padding-bottom: 2.75em;				
			}
			
			.meta {
				font-size: rem-calc(15);
				font-weight: 500;
				padding-bottom: 1.5em;
				transition: all 0.25s ease;
				
				a:hover {
					color: $brand-dark-green;
					text-decoration: none;
				}
				
			}
			
			h2 {
				line-height: 1.475;
				
				a {
					transition: all 0.25s ease;
					
					&:hover {
						color: $brand-dark-green;
						text-decoration: none;
					}
					
				}
				
			}
			
		}
				
	}
	
	.slider-controls {
			display: flex;
		    justify-content: center;
		    align-items: center;
		    
		    @include breakpoint(tablet) {
		    	padding-top: 2.1em;
		    	padding-bottom: 1.35em;
			}
		    
		.slick-arrow {
			min-height: 25px;
			min-width: 25px;
			transition: .4s ease;
			
			@include breakpoint(tablet) {
				min-height: 36px;
				min-width: 36px;
			}
			
		&.slick-disabled {
			opacity: .3;
		}
			
		}
	
		ul.slick-dots {
			position: relative;
			display: flex;
		    justify-content: center;
		    margin: 0 0.5em;
		    padding: 0;
		    list-style: none;
		    
		    @include breakpoint(medium) {
			    margin: 0 1.6em;
		    }
		
			li {
				position: relative;
				margin: 0 .5em;
				
				@include breakpoint(medium) {
					margin: 0 .88em;
				}

				
				button {
					min-height: 25px;
					min-width: 25px;
					color: $white;
					text-align: center;
					font-size: rem-calc(17);
					font-weight: 600;
					
					@include breakpoint(tablet) {
						min-height: 36px;
						min-width: 36px;						
					}
					
					&:after {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						width: 0;
						height: 2px;
						background-color: $white;
						transition: .4s ease;
					}					
				}
				

				
			&.slick-active {
				
				button {
					&:after {
						width: 16px;
					}
				}
				
			}
			
			}
			
		}
		
	}
	
}